.search-input {
    width: 100%;
    height: 36px;
    padding: 6px 6px 6px 30px;
    font-family: 'Heebo', 'Roboto', sans-serif;
    border: none;
    border-radius: 10px;
    background: 8px 10px url(../assets/search.svg) rgba(0, 0, 0, 0.05) no-repeat;
    outline: 1px solid #0584FE;
}

.search-input::placeholder {
    color: #8e8e93;
}
