@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Heebo', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.MuiTypography-root {
    font-family: 'Heebo', sans-serif;
}

input[type="text"] {
    font-size: 17px;
    line-height: 1.2;
}

.MuiOutlinedInput-root {
    border-radius: 10px;
}

